* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111b21;
}

#main {
    color: #005c4b;
    width: 400px;
    margin: 50px auto 0px auto;
    /* text-align: center; */

}
#h2 {
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

#drlist {
    color: #005c4b;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    height: 21px;
    margin-left: 30px;
}
#drlist:hover {
    color: white;
    background-color: #00175c;
}

#details {
    background-color: #00ffb8;
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #005c4b;
    box-shadow: 2px 2px 15px #00ffb8;
}

#register {
    margin: 15px;
    font-family: sans-serif;
    font-size: 15px;
    font-style: italic;
}

label {
    font-family: sans-serif;
    font-size: 15px;
    font-style: italic;
}

#dd {
    width: 300px;
    border: 1px solid rgb(22, 232, 201);
    border-radius: 3px;
    padding: 3px;
    outline: 0;
    box-shadow: inset 1px 1px 5px #00ffb8;
}

#male {
    margin-right: 5px;
}

#female {
    margin-left: 5px;
}

#submit {
    width: 375px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #1dd7cd;
    /* background-color: #005c4b; */
    color: #005c4b;
    /* color: black; */
    border: none;
    box-shadow: 1px 1px 5px #00175c;
    text-align:center ;
}

#submit:hover {
    color: white;
    background-color: #00175c;
}